# Mercedes-Benz Greener Manufacturing

## Project-01

In [1]:
# First Importing the required Library 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# Importing the data set
benz_train_df = pd.read_csv("train.csv")

In [3]:
# Removing the warning
import warnings
warnings.filterwarnings("ignore")

In [4]:
benz_train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
benz_train_df.shape

(4209, 378)

In [6]:
benz_train_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 378 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    ID      4209 non-null   int64
 1    y       4209 non-null   float64
 2    X0      4209 non-null   object
 3    X1      4209 non-null   object
 4    X2      4209 non-null   object
 5    X3      4209 non-null   object
 6    X4      4209 non-null   object
 7    X5      4209 non-null   object
 8    X6      4209 non-null   object
 9    X8      4209 non-null   object
 10   X10     4209 non-null   int64
 11   X11     4209 non-null   int64
 12   X12     4209 non-null   int64
 13   X13     4209 non-null   int64
 14   X14     4209 non-null   int64
 15   X15     4209 non-null   int64
 16   X16     4209 non-null   int64
 17   X17     4209 non-null   int64
 18   X18     4209 non-null   int64
 19   X19     4209 non-null   int64
 20   X20     4209 non-null   int64
 21   X21     4209 non-null   int64
 22   X22     4209 non-null   int64
 23   X23     4209 non-null   int64
 24   X24     4209 non-null   int64
 25   X26     4209 non-null   int64
 26   X27     4209 non-null   int64
 27   X28     4209 non-null   int64
 28   X29     4209 non-null   int64
 29   X30     4209 non-null   int64
 30   X31     4209 non-null   int64
 31   X32     4209 non-null   int64
 32   X33     4209 non-null   int64
 33   X34     4209 non-null   int64
 34   X35     4209 non-null   int64
 35   X36     4209 non-null   int64
 36   X37     4209 non-null   int64
 37   X38     4209 non-null   int64
 38   X39     4209 non-null   int64
 39   X40     4209 non-null   int64
 40   X41     4209 non-null   int64
 41   X42     4209 non-null   int64
 42   X43     4209 non-null   int64
 43   X44     4209 non-null   int64
 44   X45     4209 non-null   int64
 45   X46     4209 non-null   int64
 46   X47     4209 non-null   int64
 47   X48     4209 non-null   int64
 48   X49     4209 non-null   int64
 49   X50     4209 non-null   int64
 50   X51     4209 non-null   int64
 51   X52     4209 non-null   int64
 52   X53     4209 non-null   int64
 53   X54     4209 non-null   int64
 54   X55     4209 non-null   int64
 55   X56     4209 non-null   int64
 56   X57     4209 non-null   int64
 57   X58     4209 non-null   int64
 58   X59     4209 non-null   int64
 59   X60     4209 non-null   int64
 60   X61     4209 non-null   int64
 61   X62     4209 non-null   int64
 62   X63     4209 non-null   int64
 63   X64     4209 non-null   int64
 64   X65     4209 non-null   int64
 65   X66     4209 non-null   int64
 66   X67     4209 non-null   int64
 67   X68     4209 non-null   int64
 68   X69     4209 non-null   int64
 69   X70     4209 non-null   int64
 70   X71     4209 non-null   int64
 71   X73     4209 non-null   int64
 72   X74     4209 non-null   int64
 73   X75     4209 non-null   int64
 74   X76     4209 non-null   int64
 75   X77     4209 non-null   int64
 76   X78     4209 non-null   int64
 77   X79     4209 non-null   int64
 78   X80     4209 non-null   int64
 79   X81     4209 non-null   int64
 80   X82     4209 non-null   int64
 81   X83     4209 non-null   int64
 82   X84     4209 non-null   int64
 83   X85     4209 non-null   int64
 84   X86     4209 non-null   int64
 85   X87     4209 non-null   int64
 86   X88     4209 non-null   int64
 87   X89     4209 non-null   int64
 88   X90     4209 non-null   int64
 89   X91     4209 non-null   int64
 90   X92     4209 non-null   int64
 91   X93     4209 non-null   int64
 92   X94     4209 non-null   int64
 93   X95     4209 non-null   int64
 94   X96     4209 non-null   int64
 95   X97     4209 non-null   int64
 96   X98     4209 non-null   int64
 97   X99     4209 non-null   int64
 98   X100    4209 non-null   int64
 99   X101    4209 non-null   int64
 100  X102    4209 non-null   int64
 101  X103    4209 non-null   int64
 102  X104    4209 non-null   int64
 103  X105    4209 non-null   int64
 104  X106    4209 non-null   int64
 105  X107    4209 non-null   int64
 106  X108    4209 non-null   int64
 107  X109    4209 non-null   int64
 108  X110    4209 non-null   int64
 109  X111    4209 non-null   int64
 110  X112    4209 non-null   int64
 111  X113    4209 non-null   int64
 112  X114    4209 non-null   int64
 113  X115    4209 non-null   int64
 114  X116    4209 non-null   int64
 115  X117    4209 non-null   int64
 116  X118    4209 non-null   int64
 117  X119    4209 non-null   int64
 118  X120    4209 non-null   int64
 119  X122    4209 non-null   int64
 120  X123    4209 non-null   int64
 121  X124    4209 non-null   int64
 122  X125    4209 non-null   int64
 123  X126    4209 non-null   int64
 124  X127    4209 non-null   int64
 125  X128    4209 non-null   int64
 126  X129    4209 non-null   int64
 127  X130    4209 non-null   int64
 128  X131    4209 non-null   int64
 129  X132    4209 non-null   int64
 130  X133    4209 non-null   int64
 131  X134    4209 non-null   int64
 132  X135    4209 non-null   int64
 133  X136    4209 non-null   int64
 134  X137    4209 non-null   int64
 135  X138    4209 non-null   int64
 136  X139    4209 non-null   int64
 137  X140    4209 non-null   int64
 138  X141    4209 non-null   int64
 139  X142    4209 non-null   int64
 140  X143    4209 non-null   int64
 141  X144    4209 non-null   int64
 142  X145    4209 non-null   int64
 143  X146    4209 non-null   int64
 144  X147    4209 non-null   int64
 145  X148    4209 non-null   int64
 146  X150    4209 non-null   int64
 147  X151    4209 non-null   int64
 148  X152    4209 non-null   int64
 149  X153    4209 non-null   int64
 150  X154    4209 non-null   int64
 151  X155    4209 non-null   int64
 152  X156    4209 non-null   int64
 153  X157    4209 non-null   int64
 154  X158    4209 non-null   int64
 155  X159    4209 non-null   int64
 156  X160    4209 non-null   int64
 157  X161    4209 non-null   int64
 158  X162    4209 non-null   int64
 159  X163    4209 non-null   int64
 160  X164    4209 non-null   int64
 161  X165    4209 non-null   int64
 162  X166    4209 non-null   int64
 163  X167    4209 non-null   int64
 164  X168    4209 non-null   int64
 165  X169    4209 non-null   int64
 166  X170    4209 non-null   int64
 167  X171    4209 non-null   int64
 168  X172    4209 non-null   int64
 169  X173    4209 non-null   int64
 170  X174    4209 non-null   int64
 171  X175    4209 non-null   int64
 172  X176    4209 non-null   int64
 173  X177    4209 non-null   int64
 174  X178    4209 non-null   int64
 175  X179    4209 non-null   int64
 176  X180    4209 non-null   int64
 177  X181    4209 non-null   int64
 178  X182    4209 non-null   int64
 179  X183    4209 non-null   int64
 180  X184    4209 non-null   int64
 181  X185    4209 non-null   int64
 182  X186    4209 non-null   int64
 183  X187    4209 non-null   int64
 184  X189    4209 non-null   int64
 185  X190    4209 non-null   int64
 186  X191    4209 non-null   int64
 187  X192    4209 non-null   int64
 188  X194    4209 non-null   int64
 189  X195    4209 non-null   int64
 190  X196    4209 non-null   int64
 191  X197    4209 non-null   int64
 192  X198    4209 non-null   int64
 193  X199    4209 non-null   int64
 194  X200    4209 non-null   int64
 195  X201    4209 non-null   int64
 196  X202    4209 non-null   int64
 197  X203    4209 non-null   int64
 198  X204    4209 non-null   int64
 199  X205    4209 non-null   int64
 200  X206    4209 non-null   int64
 201  X207    4209 non-null   int64
 202  X208    4209 non-null   int64
 203  X209    4209 non-null   int64
 204  X210    4209 non-null   int64
 205  X211    4209 non-null   int64
 206  X212    4209 non-null   int64
 207  X213    4209 non-null   int64
 208  X214    4209 non-null   int64
 209  X215    4209 non-null   int64
 210  X216    4209 non-null   int64
 211  X217    4209 non-null   int64
 212  X218    4209 non-null   int64
 213  X219    4209 non-null   int64
 214  X220    4209 non-null   int64
 215  X221    4209 non-null   int64
 216  X222    4209 non-null   int64
 217  X223    4209 non-null   int64
 218  X224    4209 non-null   int64
 219  X225    4209 non-null   int64
 220  X226    4209 non-null   int64
 221  X227    4209 non-null   int64
 222  X228    4209 non-null   int64
 223  X229    4209 non-null   int64
 224  X230    4209 non-null   int64
 225  X231    4209 non-null   int64
 226  X232    4209 non-null   int64
 227  X233    4209 non-null   int64
 228  X234    4209 non-null   int64
 229  X235    4209 non-null   int64
 230  X236    4209 non-null   int64
 231  X237    4209 non-null   int64
 232  X238    4209 non-null   int64
 233  X239    4209 non-null   int64
 234  X240    4209 non-null   int64
 235  X241    4209 non-null   int64
 236  X242    4209 non-null   int64
 237  X243    4209 non-null   int64
 238  X244    4209 non-null   int64
 239  X245    4209 non-null   int64
 240  X246    4209 non-null   int64
 241  X247    4209 non-null   int64
 242  X248    4209 non-null   int64
 243  X249    4209 non-null   int64
 244  X250    4209 non-null   int64
 245  X251    4209 non-null   int64
 246  X252    4209 non-null   int64
 247  X253    4209 non-null   int64
 248  X254    4209 non-null   int64
 249  X255    4209 non-null   int64
 250  X256    4209 non-null   int64
 251  X257    4209 non-null   int64
 252  X258    4209 non-null   int64
 253  X259    4209 non-null   int64
 254  X260    4209 non-null   int64
 255  X261    4209 non-null   int64
 256  X262    4209 non-null   int64
 257  X263    4209 non-null   int64
 258  X264    4209 non-null   int64
 259  X265    4209 non-null   int64
 260  X266    4209 non-null   int64
 261  X267    4209 non-null   int64
 262  X268    4209 non-null   int64
 263  X269    4209 non-null   int64
 264  X270    4209 non-null   int64
 265  X271    4209 non-null   int64
 266  X272    4209 non-null   int64
 267  X273    4209 non-null   int64
 268  X274    4209 non-null   int64
 269  X275    4209 non-null   int64
 270  X276    4209 non-null   int64
 271  X277    4209 non-null   int64
 272  X278    4209 non-null   int64
 273  X279    4209 non-null   int64
 274  X280    4209 non-null   int64
 275  X281    4209 non-null   int64
 276  X282    4209 non-null   int64
 277  X283    4209 non-null   int64
 278  X284    4209 non-null   int64
 279  X285    4209 non-null   int64
 280  X286    4209 non-null   int64
 281  X287    4209 non-null   int64
 282  X288    4209 non-null   int64
 283  X289    4209 non-null   int64
 284  X290    4209 non-null   int64
 285  X291    4209 non-null   int64
 286  X292    4209 non-null   int64
 287  X293    4209 non-null   int64
 288  X294    4209 non-null   int64
 289  X295    4209 non-null   int64
 290  X296    4209 non-null   int64
 291  X297    4209 non-null   int64
 292  X298    4209 non-null   int64
 293  X299    4209 non-null   int64
 294  X300    4209 non-null   int64
 295  X301    4209 non-null   int64
 296  X302    4209 non-null   int64
 297  X304    4209 non-null   int64
 298  X305    4209 non-null   int64
 299  X306    4209 non-null   int64
 300  X307    4209 non-null   int64
 301  X308    4209 non-null   int64
 302  X309    4209 non-null   int64
 303  X310    4209 non-null   int64
 304  X311    4209 non-null   int64
 305  X312    4209 non-null   int64
 306  X313    4209 non-null   int64
 307  X314    4209 non-null   int64
 308  X315    4209 non-null   int64
 309  X316    4209 non-null   int64
 310  X317    4209 non-null   int64
 311  X318    4209 non-null   int64
 312  X319    4209 non-null   int64
 313  X320    4209 non-null   int64
 314  X321    4209 non-null   int64
 315  X322    4209 non-null   int64
 316  X323    4209 non-null   int64
 317  X324    4209 non-null   int64
 318  X325    4209 non-null   int64
 319  X326    4209 non-null   int64
 320  X327    4209 non-null   int64
 321  X328    4209 non-null   int64
 322  X329    4209 non-null   int64
 323  X330    4209 non-null   int64
 324  X331    4209 non-null   int64
 325  X332    4209 non-null   int64
 326  X333    4209 non-null   int64
 327  X334    4209 non-null   int64
 328  X335    4209 non-null   int64
 329  X336    4209 non-null   int64
 330  X337    4209 non-null   int64
 331  X338    4209 non-null   int64
 332  X339    4209 non-null   int64
 333  X340    4209 non-null   int64
 334  X341    4209 non-null   int64
 335  X342    4209 non-null   int64
 336  X343    4209 non-null   int64
 337  X344    4209 non-null   int64
 338  X345    4209 non-null   int64
 339  X346    4209 non-null   int64
 340  X347    4209 non-null   int64
 341  X348    4209 non-null   int64
 342  X349    4209 non-null   int64
 343  X350    4209 non-null   int64
 344  X351    4209 non-null   int64
 345  X352    4209 non-null   int64
 346  X353    4209 non-null   int64
 347  X354    4209 non-null   int64
 348  X355    4209 non-null   int64
 349  X356    4209 non-null   int64
 350  X357    4209 non-null   int64
 351  X358    4209 non-null   int64
 352  X359    4209 non-null   int64
 353  X360    4209 non-null   int64
 354  X361    4209 non-null   int64
 355  X362    4209 non-null   int64
 356  X363    4209 non-null   int64
 357  X364    4209 non-null   int64
 358  X365    4209 non-null   int64
 359  X366    4209 non-null   int64
 360  X367    4209 non-null   int64
 361  X368    4209 non-null   int64
 362  X369    4209 non-null   int64
 363  X370    4209 non-null   int64
 364  X371    4209 non-null   int64
 365  X372    4209 non-null   int64
 366  X373    4209 non-null   int64
 367  X374    4209 non-null   int64
 368  X375    4209 non-null   int64
 369  X376    4209 non-null   int64
 370  X377    4209 non-null   int64
 371  X378    4209 non-null   int64
 372  X379    4209 non-null   int64
 373  X380    4209 non-null   int64
 374  X382    4209 non-null   int64
 375  X383    4209 non-null   int64
 376  X384    4209 non-null   int64
 377  X385    4209 non-null   int64
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
benz_train_df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### 1. removing those variable(s), In case of any column(s), the variance is equal to zero.

In [8]:
# First removing the Columns that is not in use 
benz_train_df.drop("ID", axis=1, inplace=True)

In [9]:
benz_train_df.var()

y       160.766710
X10       0.013131
X11       0.000000
X12       0.069457
X13       0.054623
           ...
X380      0.008015
X382      0.007547
X383      0.001661
X384      0.000475
X385      0.001424
Length: 369, dtype: float64

In [10]:
Col_Zero_Var = benz_train_df.var()[benz_train_df.var()==0].index.values
Col_Zero_Var

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

In [11]:
benz_train_df = benz_train_df.drop(Col_Zero_Var, axis=1)

In [12]:
benz_train_df.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

### 2. Checking the null and unique values for train set.

In [13]:
# checking The number of null values
benz_train_df.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [14]:
# Now Checking the Number of unique values in each rows 
pd.DataFrame(benz_train_df.nunique(), benz_train_df.nunique().index.values)

         0
y     2545
X0      47
X1      27
X2      44
X3       7
...    ...
X380     2
X382     2
X383     2
X384     2
X385     2

[365 rows x 1 columns]

### 3. Appling the Label Encoder

In [15]:
# Before appliyng the label encoder first need to check the object variables
benz_train_obj = benz_train_df.select_dtypes(include=object)
benz_train_obj

      X0 X1  X2 X3 X4  X5 X6 X8
0      k  v  at  a  d   u  j  o
1      k  t  av  e  d   y  l  o
2     az  w   n  c  d   x  j  x
3     az  t   n  f  d   x  l  e
4     az  v   n  f  d   h  d  n
...   .. ..  .. .. ..  .. .. ..
4204  ak  s  as  c  d  aa  d  q
4205   j  o   t  d  d  aa  h  h
4206  ak  v   r  a  d  aa  g  e
4207  al  r   e  f  d  aa  l  u
4208   z  r  ae  c  d  aa  g  w

[4209 rows x 8 columns]

In [16]:
# Importing the label encoder 
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()

In [17]:
benz_train_df["X0"] = le.fit_transform(benz_train_df["X0"])
benz_train_df["X1"] = le.fit_transform(benz_train_df["X1"])
benz_train_df["X2"] = le.fit_transform(benz_train_df["X2"])
benz_train_df["X3"] = le.fit_transform(benz_train_df["X3"])
benz_train_df["X4"] = le.fit_transform(benz_train_df["X4"])
benz_train_df["X5"] = le.fit_transform(benz_train_df["X5"])
benz_train_df["X6"] = le.fit_transform(benz_train_df["X6"])
benz_train_df["X8"] = le.fit_transform(benz_train_df["X8"])

In [18]:
benz_train_df["X0"]  # category has been converted into the num and datatype is int now.

0       32
1       32
2       20
3       20
4       20
        ..
4204     8
4205    31
4206     8
4207     9
4208    46
Name: X0, Length: 4209, dtype: int32

In [19]:
benz_train_df

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,107.39,8,20,16,2,3,0,3,16,0,...,1,0,0,0,0,0,0,0,0,0
4205,108.77,31,16,40,3,3,0,7,7,0,...,0,1,0,0,0,0,0,0,0,0
4206,109.22,8,23,38,0,3,0,6,4,0,...,0,0,1,0,0,0,0,0,0,0
4207,87.48,9,19,25,5,3,0,11,20,0,...,0,0,0,0,0,0,0,0,0,0
4208,110.85,46,19,3,2,3,0,6,22,0,...,1,0,0,0,0,0,0,0,0,0

### 4. Performing Principal component analysis(PCA)

In [20]:
x_benz_train_df = benz_train_df.drop('y', axis=1)
y_benz_train_df = benz_train_df['y']

In [21]:
# Importing the PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=25)

In [22]:
x_benz_train_df = pca.fit_transform(x_benz_train_df)

In [23]:
pca.explained_variance_ratio_

array([0.38334782, 0.21388033, 0.13261866, 0.11826642, 0.09206008,
       0.01590604, 0.0074454 , 0.00433701, 0.00294021, 0.00241796,
       0.00236488, 0.00203229, 0.00167204, 0.00148111, 0.00128702,
       0.00103575, 0.00095733, 0.00089696, 0.00078569, 0.00070972,
       0.00064438, 0.00062381, 0.00058461, 0.00051244, 0.00048478])

# Loading test set

In [24]:
# First importing test set
benz_test_df = pd.read_csv("test.csv")

In [25]:
benz_test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [26]:
# First removing the Columns that is not in use 
benz_test_df.drop("ID", axis=1, inplace=True)

### 1. Test Dataset- Removing the variable with the zero Variance

In [27]:
benz_test_df.var()

X10     0.018650
X11     0.000238
X12     0.068851
X13     0.057345
X14     0.244859
          ...
X380    0.008015
X382    0.008715
X383    0.000475
X384    0.000712
X385    0.001661
Length: 368, dtype: float64

In [28]:
Cols_Zero_Var = benz_test_df.var()[benz_test_df.var()==0].index.values
Cols_Zero_Var

array(['X257', 'X258', 'X295', 'X296', 'X369'], dtype=object)

In [29]:
benz_test_df = benz_test_df.drop(Cols_Zero_Var, axis=1)

In [30]:
benz_test_df.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0

### 2. Test Dataset- Checking the null and unique values.

In [31]:
# checking The number of null values
benz_test_df.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [32]:
# Now Checking the Number of unique values in each rows 
benz_test_df.nunique()

X0      49
X1      27
X2      45
X3       7
X4       4
        ..
X380     2
X382     2
X383     2
X384     2
X385     2
Length: 371, dtype: int64

### 3. Test Dataset- label Encoding

In [33]:
# Before appliyng the label encoder first need to check the object variables
benz_test_obj = benz_test_df.select_dtypes(include=object)
benz_test_obj

      X0  X1  X2 X3 X4  X5 X6 X8
0     az   v   n  f  d   t  a  w
1      t   b  ai  a  d   b  g  y
2     az   v  as  f  d   a  j  j
3     az   l   n  f  d   z  l  n
4      w   s  as  c  d   y  i  m
...   ..  ..  .. .. ..  .. .. ..
4204  aj   h  as  f  d  aa  j  e
4205   t  aa  ai  d  d  aa  j  y
4206   y   v  as  f  d  aa  d  w
4207  ak   v  as  a  d  aa  c  q
4208   t  aa  ai  c  d  aa  g  r

[4209 rows x 8 columns]

In [34]:
# Importing the label encoder 
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()

In [35]:
benz_test_df["X0"] = le.fit_transform(benz_test_df["X0"])
benz_test_df["X1"] = le.fit_transform(benz_test_df["X1"])
benz_test_df["X2"] = le.fit_transform(benz_test_df["X2"])
benz_test_df["X3"] = le.fit_transform(benz_test_df["X3"])
benz_test_df["X4"] = le.fit_transform(benz_test_df["X4"])
benz_test_df["X5"] = le.fit_transform(benz_test_df["X5"])
benz_test_df["X6"] = le.fit_transform(benz_test_df["X6"])
benz_test_df["X8"] = le.fit_transform(benz_test_df["X8"])

In [36]:
benz_test_df.head()  # category has been converted into the num and datatype is int now.

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

### 4. Test Data - Performing PCA

In [37]:
# Importing the PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=25)

In [38]:
benz_test_df = pca.fit_transform(benz_test_df)

In [39]:
pca.explained_variance_ratio_

array([4.35151022e-01, 1.76708968e-01, 1.36462922e-01, 1.09779117e-01,
       8.62220781e-02, 1.43396216e-02, 7.22965696e-03, 4.06842812e-03,
       2.74007140e-03, 2.28112005e-03, 2.21525436e-03, 1.82720604e-03,
       1.58124816e-03, 1.38440129e-03, 1.20790398e-03, 9.97167275e-04,
       8.91795019e-04, 8.24607683e-04, 7.23297981e-04, 6.55857458e-04,
       6.23926459e-04, 5.77429002e-04, 5.42155436e-04, 4.91811480e-04,
       4.34729010e-04])

In [40]:
benz_test_df

array([[ 1.45833617e+01,  1.41667255e+01,  1.35385760e+01, ...,
        -4.61917555e-02, -4.96719091e-01, -1.94540551e-01],
       [-1.52516126e+01, -7.73675622e+00, -7.45495093e+00, ...,
         4.80851179e-01,  7.69800868e-01,  3.41165813e-01],
       [ 1.18564648e+01, -1.68017313e+00, -9.98961457e+00, ...,
        -1.08553174e+00,  1.03798573e+00, -4.81080149e-02],
       ...,
       [-1.34464401e+01,  3.28858211e+00, -6.85236379e+00, ...,
        -5.03410635e-02, -3.84377813e-01,  4.42183308e-01],
       [ 2.49261231e+01, -4.89888665e+00, -1.01694102e+01, ...,
        -1.83221522e-01,  2.19392188e-01,  1.07450120e+00],
       [-1.53843098e+01, -7.73425450e+00, -1.54930106e+01, ...,
         1.58647759e-01, -3.80663553e-01,  2.23984913e-02]])

### 5. Predicting test_data values using XGBoost.

In [41]:
from xgboost import XGBRegressor

In [45]:
xgb = XGBRegressor()
xgb.fit(x_benz_train_df,y_benz_train_df)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
             grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.300000012, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [46]:
pred = xgb.predict(benz_test_df)

In [47]:
pred

array([ 73.71088 ,  99.586426,  84.98918 , ..., 103.67071 , 116.15893 ,
        94.410194], dtype=float32)

In [50]:
benz_test_result = pd.DataFrame(pred, columns=['y'])

In [52]:
benz_test_result

               y
0      73.710876
1      99.586426
2      84.989182
3      80.629761
4     101.920486
...          ...
4204  106.329224
4205  108.064598
4206  103.670708
4207  116.158928
4208   94.410194

[4209 rows x 1 columns]